*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f0f2f5, #dfe4ea);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tela-principal {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.container {
    margin-bottom: 20px;
}

#status-display {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}


.ligado {
    color: #28a745; 
}

.desligado {
    color: #dc3545; 
}

.controles {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    width: 130px; 
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white; 
    cursor: pointer;
    transition: 0.3s ease;
}

#btn_ligar {
    background-color: #28a745;
}

#btn_ligar:hover {
    background-color: #218838;
}

#btn_desligar {
    background-color: #dc3545;
}

#btn_desligar:hover {
    background-color: #c82333;
}
